{# VARIBLES #}
{% set footer = true %}
{% set barraNav = true %}
{% set ver_notificaciones = true %}
{% set html_class = '' %}
{% set body_class = 'portal-bg' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Bienvenido - Virtuágora{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div class="portal-usuario">
    <div class="inicio">
        <div class="upper">
            <div class="row">
                <div class="medium-8 medium-offset-2 columns text-center">
                    <h2 class="trabajemos"><i>¡Trabajando <span class="masnegrita">JUNTOS</span> para hacer de nuestra casa, un <span class="masnegrita">MEJOR</span> lugar!</i></h2>
                    {% if user is null %}
                    <br>
                    <a href="{{urlFor('shwLogin')}}" class="button radius large oposite"><i class="fa fa-sign-in fa-fw fa-lg"></i>Iniciar sesión</a>
					<a href="{{urlFor('shwCrearUsuario')}}" class="button radius large oposite"><i class="fa fa-user-plus fa-fw fa-lg"></i>Registrarse</a>
               <br>
               <br>
               {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-8 medium-offset-2 columns text-center">
                    <img src="{{ baseUrl() }}/assets/img/manos-blu.png" alt=""class="manos">
                </div>
            </div>
        </div>
        <div class="row ceut">
            <div class="medium-8 medium-offset-2 columns text-center">
                <img src="{{ baseUrl() }}/assets/img/ceut-logo-crazy.png" alt=""class="ceut-logo">
                <h6>
                    <span class="masnegrita"><i>¡Este es tu centro! <i class="fa fa-child fa-fw fa-lg"></i> ¡Y está para vos!</i></span>
                    <br>
                    Aportando, colaborando, debatiendo...
                    <br>
                    En la búsqueda de nuevas formas de conectarnos.
                </h6>
                <h3>
                    <span class="negrita"><i>¡Bienvenidos a una nueva forma de colaborar!</i></span>
                </h3>
            </div>
        </div>
        <div class="cinta text-center">
            <h2>
                <span class="masnegrita"><i class="fa fa-angle-double-down fa-fw"></i>¿Y CÓMO PUEDO PARTICIPAR?<i class="fa fa-angle-double-down fa-fw"></i></span>
            </h2>
        </div>
        <div class="row opciones">
            <a id="open-op1" href="#informacion-opcion">
                <div class="medium-4 columns opcion-up op1 text-center">
                    <object data="{{ baseUrl() }}/assets/img/problematicas.svg" type="image/svg+xml">
                    </object>
                    <h5 class="show-for-small-only"><span class="masnegrita">Problematicas</span></h5>
                    <p class="show-for-medium-up">Contanos cuales son las <span class="negrita">PROBLEMÁTICAS</span> que ves día a día</p>
                </div>
            </a>
            <a id="open-op2" href="#informacion-opcion">
                <div class="medium-4 columns opcion-up op2 text-center">
                    <object data="{{ baseUrl() }}/assets/img/propuestas.svg" type="image/svg+xml">
                    </object>
                    <h5 class="show-for-small-only"><span class="masnegrita">Propuestas</span></h5>
                    <p class="show-for-medium-up">Enterate, votá y opiná en nuestras <span class="negrita">PROPUESTAS</span> de solución</p>
                </div>
            </a>
            <a id="open-op3" href="#informacion-opcion">
                <div class="medium-4 columns opcion-up op3 text-center">
                    <object data="{{ baseUrl() }}/assets/img/documentos.svg" type="image/svg+xml">
                    </object>
                    <h5 class="show-for-small-only"><span class="masnegrita">Problematicas</span></h5>
                    <p class="show-for-medium-up">Mirá y colaborá en la elaboracion de <span class="negrita">DOCUMENTOS</span></p>
                </div>
            </a>
        </div>
        <div id="informacion-opcion" class="informacion-opcion">
            <div class="info-cont op1" style="display:none">
                <div class="row">
                    <div class="medium-8 medium-offset-2 columns text-center">
                        <object data="{{ baseUrl() }}/assets/img/problematicas.svg" type="image/svg+xml">
                        </object>
                        <h4><span class="masnegrita">PROBLEMÁTICAS</span></h4>
                        <p>¿Tenés algún problema en la facu, que además te parece que afecta a otros? ¡Reportá una Problemática!
                        Los demás estudiantes van a poder sumarse a la causa expresando cómo los afecta dicho problema:</p>
                        <p>Directamente ~ Indirectamente/Interesado ~ Indiferente</p>
                        <p>
                            Mientras más estudiantes voten que les afecta la problemática, más visible va ser.
                            En respuesta, tus representantes pueden presentar soluciones en forma de Propuestas.</p>
                    </div>
                </div>
            </div>
            <div class="info-cont op2" style="display:none">
                <div class="row">
                    <div class="medium-8 medium-offset-2 columns text-center">
                        <object data="{{ baseUrl() }}/assets/img/propuestas.svg" type="image/svg+xml">
                        </object>
                        <h4><span class="masnegrita">PROPUESTAS</span></h4>
                        <p>Los estudiantes representantes exponen sus Propuestas para que vos puedas expresar tu opinión al respecto:
                        <p>A favor ~ En contra ~ Abstención/Neutro</p>
                        <p>Siempre vas a poder marcar tu voto como público o privado, y al igual que en las problemáticas, se pueden ver los resultados generales.
                        Recordá que también podés cambiar tu postura, pero esta acción va a quitarte puntos. ¡Pensá bien antes de votar!</p>
                    </div>
                </div>
            </div>
            <div class="info-cont op3" style="display:none">
                <div class="row">
                    <div class="medium-8 medium-offset-2 columns text-center">
                        <object data="{{ baseUrl() }}/assets/img/documentos.svg" type="image/svg+xml">
                        </object>
                        <h4><span class="masnegrita">DOCUMENTOS ABIERTOS</span></h4>
                        <p>Tus representantes van a publicar Documentos colaborativos, para que sean revisados públicamente.
                        Esto te va a permitir aportar tus opiniones en cualquier párrafo de los mismos.</p>
                        <p>Mientras más aportes se hagan, mejor va ser el documento final.</p>
                    </div>
                </div>
            </div>
            <div class="info-cont op4" style="display:none">
                <div class="row">
                    <div class="medium-8 medium-offset-2 columns text-center">
                        <object data="{{ baseUrl() }}/assets/img/anuncios.svg" type="image/svg+xml">
                        </object>
                        <h4><span class="masnegrita">ANUNCIOS</span></h4>
                        <p>Enterate de lo que está pasando en la facultad leyendo los anuncios publicados tanto por organismos como agrupaciones.
                        </p>
                        <p>
                            Además de informarte vas a poder aportar publicando comentarios.</p>
                    </div>
                </div>
            </div>
            <div class="info-cont op5" style="display:none">
                <div class="row">
                    <div class="medium-8 medium-offset-2 columns text-center">
                        <object data="{{ baseUrl() }}/assets/img/eventos.svg" type="image/svg+xml">
                        </object>
                        <h4><span class="masnegrita">EVENTOS</span></h4>
                        <p>Vas a poder conocer los Eventos que organicen tus representantes y agrupaciones de la facu.</p>
                        <p>Podés confirmar tu presencia para que te informen en caso de algún cambio de la fecha o el lugar.
                        Además siempre vas a poder dejar tu comentario.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row opciones">
            <a id="open-op4" href="#informacion-opcion">
                <div class="medium-6 columns opcion-down op4 text-center">
                    <object data="{{ baseUrl() }}/assets/img/anuncios.svg" type="image/svg+xml">
                    </object>
                    <h5 class="show-for-small-only"><span class="masnegrita">Anuncios</span></h5>
                    <p class="show-for-medium-up">Enterate de los <span class="negrita">ANUNCIOS</span> importantes que tu centro tiene para vos</p>
                </div>
            </a>
            <a id="open-op5" href="#informacion-opcion">
                <div class="medium-6 columns opcion-down op5 text-center">
                    <object data="{{ baseUrl() }}/assets/img/eventos.svg" type="image/svg+xml">
                    </object>
                    <h5 class="show-for-small-only"><span class="masnegrita">Eventos</span></h5>
                    <p class="show-for-medium-up">Fijate los <span class="negrita">EVENTOS</span> que tu centro organiza y participá de ellos</p>
                </div>
            </a>
        </div>
        <div class="conocenos">
          <div class="row">
              <div class="medium-8 medium-offset-2 columns text-center">
           <object data="{{ baseUrl() }}/assets/img/smiley.svg" type="image/svg+xml">
                    </object>
            <h2><span class="masnegrita">¡CONOCÉ TU CENTRO!</span></h2>
                 <p>Conocé quienes lo conforman,<br> a quienes te podés acercar si necesitás algo,<br> enterate qué hace cada uno,<br> <span class="masnegrita">¡Y quienes son tus representantes más directos!</span></p>
                  <a href="{{ urlFor('shwListaOrganis') }}" class="button expand">Ver organismos</a>
              </div>
          </div>
        </div>
        <div class="ending">
           <div class="row">
              <div class="medium-8 medium-offset-2 columns text-center">
            <img src="{{ baseUrl() }}/assets/img/manos.png" alt=""class="manos-end">
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script>
    $(document).ready(function(){

    });
    $('#open-op1').click(function(e){
        e.preventDefault();
        $('.info-cont').hide();
        $('.info-cont.op1').slideDown();
    });
    $('#open-op2').click(function(e){
        e.preventDefault();
        $('.info-cont').hide();
        $('.info-cont.op2').slideDown();
    });
    $('#open-op3').click(function(e){
        e.preventDefault();
        $('.info-cont').hide();
        $('.info-cont.op3').slideDown();
    });
    $('#open-op4').click(function(e){
        e.preventDefault();
        $('.info-cont').hide();
        $('.info-cont.op4').slideDown();
    });
    $('#open-op5').click(function(e){
        e.preventDefault();
        $('.info-cont').hide();
        $('.info-cont.op5').slideDown();
    });

</script>
{% endblock %}
{# ----------------------------------------------------------- #}
