{# VARIBLES #}
{% set footer = false %}
{% set barraNav = false %}
{% set notificaciones = false %}
{% set body_class = 'intro-ceut' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}¡Bienvenido a tu CEUT!{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div id="introduction">
	<div id="header">
		<section class="row">
			<article class="small-12 columns text-center">
				<img src="{{baseUrl()}}/assets/img/ceut-logo-sm.png" class="logo-ceut">
				<div class="text-center">
					<a href="{{urlFor('shwPortal')}}" class="button radius large oposite" style="margin:15px 0px"><i class="fa fa-home fa-fw fa-lg"></i>Entrar!</a>
					<br>
					<a href="{{urlFor('shwLogin')}}" class="button radius small oposite"><i class="fa fa-sign-in fa-fw fa-lg"></i>Iniciar sesión</a>
					<a href="{{urlFor('shwCrearUsuario')}}" class="button radius small oposite"><i class="fa fa-user-plus fa-fw fa-lg"></i>Registrarse</a>
				</div>
				<p class="text-center">
					Powered by <br>
					<img src="{{baseUrl()}}/assets/img/bigwhitelogo.png" alt="" class="logo-sm">
				</p>
			</article>
		</section>
	</div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script>
	$('.form-pre-registro').submit(function(){
		window.location.href = "{{urlFor('shwCrearUsuario')}}#"
			+ $('input[name="nombre"]').val() + '&'
			+ $('input[name="apellido"]').val() + '&'
			+ $('input[name="email"]').val();
		return false;
	});
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
